# Para la base de datos
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Para el backend
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
HOST=
PORT=
JWT_SECRET=
COOKIE_KEY=

# Para el frontend
VITE_API_URL=
